.clubs {
    padding-top: 80px; /* Espace pour la navbar */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #392f2f; /* Fond gris foncé */
    min-height: 100vh;
}

.clubs h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff; /* Texte blanc pour le titre */
}

.club-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille responsive */
    gap: 20px; /* Espacement entre les cartes */
    padding: 20px;
}